/* pc,sp共通 */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
}

h1 {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 133.94px;
}

h2 {
  font-family: 'Shippori Mincho', serif;
  font-size: 28px;
  font-weight: 600;
}

p {
  font-size: 16px;
  font-weight: 400;
}

/*================
 PC用のスタイル 
=================*/
/* body */
body {
max-width: 1280px;
margin: 0 auto;
}

/* header */
#header {
  width: 100%;
  margin: 0;
  padding: 0;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 20;
}

/* headerのインナー */
.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1280px;
}

/* ロゴ */
.hlogo {
  margin: 16px 0 16px 47px;
  padding: 0;
}

/* ナビゲーションのレイアウト */
#hnav {
  text-align: right;
  margin: 10px 32px 10px 0;
  padding: 0;
  line-height: 2.5;
}

.hnav-list {
  list-style: none;
  margin: 0;
  padding: 12px 0;
}

.hnav-item {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
}

/* ナビゲーションリンクの装飾設定 */
.hnav-item > a {
  text-decoration: none;
  margin-left: 40px;
}
.hnav-item > a:link {
  color: #ffffff;
}
.hnav-item > a:visited {
  color: #ffffff;
}
.hnav-item > a:hover {
  color: #ffffff;
  text-decoration: underline;
}
.hnav-item > a:active {
  color: #ffffff;
}
/* ナビゲーションのボタン */
.hnav-item.hnav-contact > a {
  text-decoration: none;
  padding: 11px 16px 13px;
  border-radius: 4px;
  color:#ffffff;
  background-color: #0C4324;
  font-weight: 700;
}

/* メインビジュアル */
.mv-container {
  display: flex;
  justify-content: flex-end;
  /* max-width: 1280px; */
  /* max-height: 584px; */
  overflow: hidden;
  position: relative;
}

/* メインビジュアルのテキスト */
.mv-text-wrap {
  position: absolute;
  top: 118px;
  left: 101px;
  z-index: 9;
}

.mv-text-wrap > h2 {
  writing-mode:vertical-rl;
  color: #468459;
  line-height: 50px;
  letter-spacing: 15px;
  text-decoration:underline dashed 1px #468459;
  text-underline-offset: 5px;
  position: relative;
  z-index: 0;
  margin: 0 auto;
}

.mv-text-wrap::before {
  content: url(../img/index/_x31_7.png);
  position: absolute;
  top: -20%;
  left: -10%;
  z-index: -1;
}

.mv-text-wrap::after {
  content: url(../img/index/_x32_1.png);
  position: absolute;
  bottom: 0;
  left: -70%;
  z-index: -1;
}

/* メインビジュアルの画像 */
/* カルーセル */
.mv-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel {
  max-width: 980px;
  max-height: 584px;
  margin: 0 !important;
}

.carousel::before {
  content: url(../img/_x31_3.png);
  position: absolute;
  top: 0;
  left: -3%;
  z-index: -1;
}

.carousel .slick-list {
  border-top-left-radius: 300px 1000px;
  border-bottom-left-radius: 900px 1500px;
}
/* slickのドット */
.carousel .slick-dots {
  box-sizing: border-box;
  text-align: end;
  bottom: 32px;
  right: 32px;
  padding: 0;
}

.carousel .slick-dots li {
  margin: 0 0 0 -3px !important;
  width: 22.5px !important;
  height: 6px !important;
  background-color: #468459;
  border-radius: 3px;
}

.slick-dots li button::before {
  content: '' !important;
  width: 22.5px !important;
  height: 6px !important;
  background: #468459;
  opacity: 1 !important;
  border-radius: 3px;
}

.slick-dots li.slick-active button::before {
  background: #ffffff;
}

.carousel .slick-dots li:first-child {
  z-index: 4;
}

.carousel .slick-dots li:nth-child(2) {
  z-index: 3;
}

.carousel .slick-dots li:nth-child(3) {
  z-index: 2;
}

.carousel .slick-dots li:nth-child(4) {
  z-index: 1;
}

/* 追加 */
* {
  min-height:0;
  min-width : 0;
}

/* セクション（お知らせ） */
.info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 18px 96px 14px 100px;
  padding: 0;
}

.news {
  font-size: 24px;
  font-weight: 700;
  color: #468459;
  margin: 0;
}

.info-text {
  font-size: 18px;
  font-weight: 400;
  color: #468459;
}

.info-wrap {
  display: flex;

}

.date {
  margin: 0 0 0 45px;
}

.date > span {
  padding: 2px 16px;
  border-radius: 4px;
  color: #ffffff;
  display: inline-block;
}

.info-nyh {
  margin: 0 0 0 28px;
}

.info {
  text-decoration: none;
  margin-left: auto;
  color: #0C4324;
}

/* セクション（コンセプト） */
#about {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.concept-container {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 120px 0 151px;
}

.concept-container::before {
  content: "Concept";
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 133.94px;
  font-weight: 400;
  color: #DAE2C2;
  opacity: 25%;
  position: absolute;
  top: 81px;
  left: -133px;
  z-index: -1;
}

.concept-container::after {
  content: url(../img/BGicon_Light.png);
  position: absolute;
  bottom: -108px;
  right: -279px;
  z-index: -1;
}

/* コンセプトのテキスト */
.concept-text-wrap {
  display: flex;
  flex-direction: column;
}

.concept-title {
  font-size: 24px;
  font-weight: 700;
  color: #468459;
  align-self: flex-start;
  padding: 0;
  margin: 0 197px 32px 0;
}

.concept-title::before {
  content: url(../img/Head_01_Icon.png);
}

.concept-title > span {
  font-size: 24px;
  font-weight: 400;
}

.concept-message {
  font-size: 32px;
  font-weight: 700;
  color: #468459;
  line-height: 54px;
  margin: 0 0 38px 0;
}

.concept-text {
  line-height: 22.5px;
  margin: 0 0 24px 0;
}

/* ボタン（コンセプト） */
.about-button {
  align-self: flex-end;
}
/* ボタン */
.button {
  display: inline-block;
  text-decoration: none;
  padding: 5.5px 26.63px;
  border:solid 1px #000000;
  background-color: #ffffff;
  border-radius: 6px;
  color: #000000;
}

.button:hover {
  background-color: #1B9240;
  color: #ffffff;
}

/* コンセプトの写真 */
.concept-img-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.concept-img {
  padding: 0;
  margin: 0 0 0 80px;
}

.concept-img > img {
  display: block;
  width: 100%;
}

/* セクション（コース） */
#course {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F0F5E1;
  background-image: url(../img/Union.png), url(../img/Vector.jpg);
  background-repeat: no-repeat;
  background-position: center top 10px, center top;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
}

.course-container {
  display: flex;
  flex-direction: column;
  margin: 111px 0 167px;
  position: relative;
}

.course-container::before {
  content: "Course";
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 133.94px;
  font-weight: 400;
  color: #E7EDD4;
  position: absolute;
  top: 115.76px;
  left: -130px;
  z-index: -1;
}

.course-container::after {
  content: url(../img/BGicon_Green.png);
  position: absolute;
  bottom: -114px;
  right: -337px;
  z-index: -1;
}

/* コースのタイトル */
.course-title-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 64px 0;
}

.course-title-wrap h4 {
  font-size: 24px;
  font-weight: 700;
  color: #468459;
}

.course-title {
  margin: 0 0 20px 0;
}

.course-title::before {
  content: url(../img/Head_02_DecoLeft16.png);
  margin: 0 18px 0 0;
}

.course-title::after {
  content: url(../img/Head_02_DecoRight16.png);
  margin: 0 0 0 18px;
}

.course-message {
  text-align: center;
  margin: 0;
}

/* コース診療の種類 */
.courses-wrap {
  display: flex;
  justify-content: center;
}

/* 写真 */
.courses-wrap img {
  border-radius: 24px;
  width: 100%;
}

.course1 {
  margin: 0 40px 0 0;
}

.course2 {
  margin: 0 0 0 40px;
}

/* 目次 */
.courses-wrap h4 {
  font-size: 24px;
  font-weight: 700;
  color: #0C4324;
}

/* ボタン（コース） */
.course-button {
  align-self: center;
  margin: 32px 0 0 0;
}

/* セクション（お客様の声） */
#voice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
}

/* カルーセル */
.bottom-img img {
  width: 100%;
  height: 20vw;
  object-fit: cover;
}

/* タイトル */
/* 半楕円 */
.customer-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
  margin: -118px auto 0;
  padding: 0;
}

.customer-title > img {
  display: block;
  width: 100%;
}

.customer-title h4 {
  font-size: 24px;
  font-weight: 700;
  color: #468459;
  margin: -55px 0 20px 0;
}

.customer-title h4::before {
  content: url(../img/Head_02_DecoLeft16.png);
  margin: 0 18px 0 0;
}

.customer-title h4::after {
  content: url(../img/Head_02_DecoRight16.png);
  margin: 0 0 0 18px;
}

/* お客様の声のタイトルより下 */
.customer-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto 39px;
}

.customer-container h4 {
  font-size: 24px;
  font-weight: 700;
  color: #468459;
  text-align: center;
  margin: 0 0 60px;
  padding: 0;
}

/* お客様の声 */
.customers-wrap {
  display: flex;
  justify-content: center;
  text-align: center;
}

.customers-wrap p {
  text-align: start;
  font-size: 18px;
}

/* 写真・コンテンツ*/
.customers-wrap img {
  display: block;
  width: 100%;
  border-radius: 50%;
}

.customer1 {
  margin: 0;
}

.customer2 {
  margin: 0 55px;
}

.customer3 {
  margin: 0 0 0 0;
}

.customers-wrap h4 {
  font-size: 24px;
  font-weight: 700;
  color: #0C4324;
}

/* ボタン（お客様の声） */
.customer-button {
  align-self: center;
  margin: 48px 0 0 0;
}

/* セクション（アクセス） */
#contact {
  display: flex;
  justify-content: center;
  background-color: #F0F5E1;
  background-image: url(../img/Frame\ 2564.png);
  background-repeat: no-repeat;
  background-position: center top;
  height: 702px;
  width: 100%;
  margin: 0;
  padding: 0;

}

.access-container {
  margin: 160px 0 60px 0;
}

.access-wrap {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

/* アクセスのタイトル */
.access-container > h4 {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: #468459;
  margin: 0 0 40px 0;
}

.access-container > h4::before {
  content: url(../img/Head_02_DecoLeft16.png);
  margin: 0 18px 0 0;
}

.access-container > h4::after {
  content: url(../img/Head_02_DecoRight16.png);
  margin: 0 0 0 18px;
}

/* 住所・営業時間 */
.access-address {
  margin: 0 29px 0 0;
}

.access-address > h4 {
  font-size: 24px;
  font-weight: 700;
  color: #468459;
  margin: 0 0 16px 0;
}

.access-address > p {
  margin: 0 0 16px 0;
}

.tel-num {
  margin: 0 0 16px 0;
}

.tel-num > span {
  font-size: 17.78px;
  font-weight: 700;
  color: #468459;
}

table {
  border: none;
  border-radius: 6px;
  border-spacing: 0;
  border-left: solid 1px #DDDDDD;
  border-top: solid 1px #DDDDDD;
  text-align: center;
  margin: 0 0 32px 0;
  width: 459px;
  height: 123px;
}

table tr th,td {
  border-right: solid 1px #DDDDDD;
  border-bottom: solid 1px #DDDDDD;
} 

table tr:first-child {
  background-color: #468459;
  color: #ffffff;
}

table tr:nth-child(2) {
  background-color: #ffffff;
  color: #468459;
}

table tr:last-child {
  background-color: #F6F6F6;
  color: #468459;
}

table tr:first-child th:first-child {
  border-radius: 6px 0 0 0;
}

table tr:first-child th:last-child {
  border-radius: 0 6px 0 0;
}

table tr:last-child td:first-child {
  border-radius: 0 0 0 6px;
}

table tr:last-child td:last-child {
  border-radius: 0 0 6px 0;
}

.contact-button {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  background-color: #1B9240;
  border-radius: 4px;
  font-weight: 700;
  padding: 14px 22.88px 15px 21.12px;
}

/* 地図 */
.access-map {
  position: relative;
  width: 509px;
  height: 418px;
  overflow: hidden;
  margin: 0 0 0 29px;
}

.access-map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* フッター */
#footer {
  display: inline-block;
  width: 100%;
  background-color: #F0F5E1;
  margin: 0;
  padding: 0;
  position: relative;
}

/* インナー */
.f-inner {
  align-items: center;
  display: flex;
  justify-content:space-between;
  margin: 40px auto 47px;
  max-width: 945px;
}

/* ロゴ */
.f-inner > img {
  padding: 0;
}

/* フッターナビゲーションのレイアウト */
#fnav {
  text-align: right;
  margin: 10px 32px 10px 0;
  padding: 0;
}

.fnav-list {
  list-style: none;
  margin: 0;
  padding: 12px 0;
}

.fnav-item {
  display: inline-block;
  font-size: 14px;
}

/* フッターナビゲーションリンクの装飾設定 */
.fnav-item > a {
  text-decoration: none;
  margin-left: 26px;
}
.fnav-item > a:link {
  color: #000000;
}
.fnav-item > a:visited {
  color: #000000;
}
.fnav-item > a:hover {
  color: #000000;
  text-decoration: underline;
}
.fnav-item > a:active {
  color: #000000;
}
/* コピーライト */
.c-right {
  background-color: #468459;
  text-align: center;
  height: 40px;
  line-height: 40px;
}

.c-right > p {
  font-size: 12px;
  color: #ffffff;
}

/* TOPに戻るボタン */
#to-pagetop {
  width: 100%;
  margin: 0;
  padding: 0;
  position: fixed;
  left: 0;
  bottom: 128px;
  z-index: 20;
}

.pagetop-wrap {
  display: flex;
  align-items:center;
  justify-content: end;
  margin: 0 auto;
  max-width: 1280px;
}

.pagetop {
  margin: 0 34px 0 0;
  display: none;
}

/* スマホ用要素非表示設定 */
/* ヘッダー、メイン */
.splogo,
#sp-menu,
#sp-nav {
  display: none;
}

/* 当院について */
/* ヘッダー */
#about-header {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* ナビゲーションのレイアウト */
.a-hnav-item {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  color: #468459;
}

/* ナビゲーションリンクの装飾設定 */
.a-hnav-item > a {
  text-decoration: none;
  margin-left: 40px;
}
.a-hnav-item > a:link {
  color: #468459;
}
.a-hnav-item > a:visited {
  color: #468459;
}
.a-hnav-item > a:hover {
  color: #468459;
  text-decoration: underline;
}
.a-hnav-item > a:active {
  color: #468459;
}

/* メインビジュアル */
.a-mv-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 400px;
  overflow: hidden;
}

/* メインビジュアルのテキスト */
.a-mv-text-wrap {
  position: relative;
  z-index: 1;
}

.a-mv-text-wrap::before {
  content: url(../img/about/_x31_7.png);
  position: absolute;
  top: -60%;
  left: 5%;
  z-index: -1;
}

.a-mv-text-wrap > h2 {
  font-family: 'Noto Sans JP';
  font-size: 32px;
  font-weight: 500;
  color: #468459;
  line-height: 32px;
  margin: 0 0 0 67px;
  width: 100%;
}

.a-mv-text-wrap > h2 > span {
  font-size: 18px;
  font-weight: 400;
  text-decoration:underline dashed 1px #468459;
  text-underline-offset: 10px;
}

/* メインビジュアルの画像 */
.a-mv-img-wrap {
  max-width: 980px;
  max-height: 400px;
  margin: 0;
  padding: 0;
  position: relative;
}

.a-mv-img-wrap > picture > img {
  display: block;
  width: 100%;
  height: 100%;
  border-top-left-radius: 100px 400px;
  border-bottom-left-radius: 60px 300px;
}

.a-mv-img-wrap::before {
  content: url(../img/_x31_3.png);
  position: absolute;
  top: 0;
  left: -3%;
  z-index: -1;
}

/* パンくずリスト */
.breadcrumb {
  max-width: 1280px;
  margin: 24px 0 20px 152px;
}

.breadcrumb span {
  font-size: 14px;
  font-weight: 400;
  color: #0C4324;
}

.breadcrumb span > a {
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
}

.breadcrumb span > a > span {
  color: #000000;
}
.breadcrumb > p {
  font-size: 14px;
  font-weight: 400;
  opacity: 0.87;
}

.breadcrumb > P > span {
  font-size: 14px;
  font-weight: 400;
  color: #0C4324;
}

/* フロー施術の流れ */
#flow {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.flow-container {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 120px 0 151px;
}

.flow-container::before {
  content: "Flow";
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 133.94px;
  font-weight: 400;
  color: #DAE2C2;
  opacity: 25%;
  position: absolute;
  top: 81px;
  left: -133px;
  z-index: -1;
}

.flow-container::after {
  content: url(../img/BGicon_Light.png);
  position: absolute;
  bottom: -108px;
  right: -279px;
  z-index: -1;
}

/* フローのテキスト */
.flow-text-wrap {
  display: flex;
  flex-direction: column;
}

.flow-title {
  font-size: 24px;
  font-weight: 700;
  color: #468459;
  align-self: flex-start;
  padding: 0;
  margin: 0 200px 108px 0;
}

.flow-title::before {
  content: url(../img/Head_01_Icon.png);
}

.flow-title > span {
  font-size: 24px;
  font-weight: 400;
}

.flow-text {
  line-height: 22.4px;
  margin: 0 0 24px 0;
}

/* フローの写真 */
.flow-img-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flow-img {
  padding: 0;
  margin: 0 0 0 80px;
}

.flow-img > img {
  display: block;
  width: 100%;
}

/* 根本改善ポイント */
#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.root-container {
  display: flex;
  flex-direction: column;
  margin: 62px auto 15px;
}

/* タイトル */
.root-title > h4 {
  font-size: 24px;
  font-weight: 700;
  color: #468459;
  text-align: center;
  margin: 0 auto 20px;
}

.root-title h4::before {
  content: url(../img/Head_02_DecoLeft16.png);
  margin: 0 18px 0 0;
}

.root-title h4::after {
  content: url(../img/Head_02_DecoRight16.png);
  margin: 0 0 0 18px;
}

/* メッセージ */
.root-container h4 {
  font-size: 24px;
  font-weight: 700;
  color: #468459;
  text-align: center;
  margin: 0 auto 64px;
  padding: 0;
}

/* 根本改善ポイント */
.roots-wrap {
  display: flex;
  justify-content: center;
  text-align: center;
}

.roots-wrap h4 {
  font-size: 24px;
  font-weight: 700;
  color: #000000;
}

/* 写真・コンテンツ*/
.roots-wrap img {
  border-radius: 24px;
  width: 100%;
}

.root1 {
  margin: 0;
}

.root2 {
  margin: 0 48px;
}

.customer3 {
  margin: 0;
}

/* コース・料金 */
/* コース */
#course2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FAFAFA;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
}

.course-container2 {
  display: flex;
  flex-direction: column;
  margin: 64px auto;
  position: relative;
}

/* 診療内容詳細 */
#mt-course {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.mt-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 診療内容テキスト */
.mt-text-wrap {
  display: flex;
  flex-direction: column;
  margin: 89px 30px 60px auto;
}

.mt-title {
  font-size: 24px;
  font-weight: 700;
  color: #468459;
  align-self: flex-start;
  padding: 0;
  margin: 0 0 32px 0;
}

.mt-title::before {
  content: url(../img/Head_01_Icon.png);
}

.mt-title > span {
  font-size: 24px;
  font-weight: 400;
}

.mt-text {
  line-height: 22.4px;
  margin: 0 0 32px 0;
}

/* 診療内容の写真 */
.mt-img-wrap {
  padding: 0;
  margin: 60px auto 89px 30px;
}

.mt-img-wrap > img {
  display: block;
  border-radius: 24px;
  width: 100%;
}

/* お知らせ */
#news-info {
  max-width: 1280px;
  padding: 0;
  margin: 0;
}

.news-info-container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

/* お知らせ記事一覧 */
.news-info-wrap {
  display: flex;
  flex-direction: column;
}

.news-info-list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 0 64px 0;
}

/* 記事写真 */
.news-info-img {
  padding: 0;
  margin: 0 32px 0 0;
  max-width: 320px;
  max-height: 200px;
}

.news-info-img > img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

/* 記事のテキスト */
.news-info-text {
  max-width: 368px;
}

.news-info-text > h3 {
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 16px 0;
}

.news-info-text > h3 > a {
  text-decoration: none;
  color: #000000;
}

.news-info-text > p {
  font-size: 18px;
  margin: 0;
}

.news-info-text > p > span {
  margin-left: 30px;
  padding: 2px 16px;
  color: #ffffff;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 700;
}

.date-time {
  background-color: #468459;
}

.campaign {
  background-color: #E2A70E;
}

.others {
  background-color: #4EB8BF;
}

/* カテゴリ */
.news-info-category > h3 {
  color: #0C4324;
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 32px 0;
}

.news-info-category > p {
  font-size: 18px;
}

.cat-item {
  list-style: none;
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 16px 0;
}

.cat-item a {
  color: #000000;
  text-decoration: none;
}

/* ページネーション */
.nav-links {
  text-align: center;
}

.pager-links {
  max-width: 1280px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 193px ;
}

.page-numbers {
  padding: 0 7px;
  text-decoration: none;
  color: #468459;
  font-size: 16px;
  font-weight: 500;
}

.current {
  padding: 0 7px;
  background-color: #468459;
  color: #ffffff;
}

/* お知らせ詳細 */
#news-topic {
  max-width: 1280px;
  padding: 0;
  margin: 0;
}

.news-topic-container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.news-topic-wrap {
  display: flex;
  flex-direction: column;
}

/* 記事のテキスト */
.news-topic-text {
  margin: 0 0 24px 0;
}

.news-topic-text > h3 {
  font-size: 32px;
  font-weight: 700;
  color: #0C4324;
  margin: 0 0 24px 0;
}

.news-topic-text-br::before {
  content: "\A";
  white-space: pre;
}

.news-topic-text > p {
  font-size: 18px;
  margin: 0;
}

.news-topic-text > p > span {
  margin-left: 30px;
  padding: 2px 16px;
  background-color: #468459;
  color: #ffffff;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 700;
}

/* 記事写真 */
.news-topic-img {
  padding: 0;
  margin: 0 0 24px 0;
  max-width: 752px;
  height: 320px;
}

.news-topic-img > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

/* 見出し */
.article-titles h2 {
  font-family: 'Noto Sans CJK JP';
  font-size: 32px;
  font-weight: 700;
}

.article-titles h3 {
  font-family: 'Noto Sans CJK JP';
  font-size: 24px;
  font-weight: 700;
}

.article-titles h4 {
  font-family: 'Noto Sans CJK JP';
  font-size: 18px;
  font-weight: 700;
}

.article-titles > h2,h3,h4 {
  margin: 0 0 24px 0;
}

.article-title1, .article-title2, .article-title3 {
  margin: 0 0 24px 0;
}

.article-title1 > h2 {
  font-family: 'Noto Sans CJK JP';
  font-size: 32px;
  font-weight: 700;
  color: #0C4324;
  margin: 0 0 24px 0;
}

.article-title2 > h3 {
  font-family: 'Noto Sans CJK JP';
  font-size: 24px;
  font-weight: 700;
  color: #0C4324;
  margin: 0 0 24px 0;
}

.article-title3 > h4 {
  font-family: 'Noto Sans CJK JP';
  font-size: 18px;
  font-weight: 700;
  color: #0C4324;
  margin: 0 0 24px 0;
}

/* ページネーション */
.pager {
  display: flex;
  justify-content: center;
  align-items: end;
  margin: 64px auto 0;
}

.lt {
  margin-right: 8px;
}

.list {
  margin: 0 32px;
}

.gt {
  margin-left: 8px;
}

.article, .lt, .gt,.pager > a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
}

/* お客様の声 */
#voice-list {
  max-width: 1280px;
  margin: 0;
  padding: 0;
}

.voice-container {
  display: flex;
  flex-direction: column;
  margin: 64px auto 64px;
}

.voice-wrap {
  display: flex;
  justify-content: center;
  margin: 0 0 64px 0;
}

/* お客様の写真 */
.voice-img {
  max-width: 180px;
  max-height: 180px;
  margin: 0 48px 0 0;
}

.voice-img > img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 90px;
}

/* テキスト */
.voice-text > h3 {
  font-size: 24px;
  font-weight: 700;
  color: #0C4324;
  margin: 0 0 24px 0;
}

.voice-text > p {
  max-width: 640px;
  margin: 0;
  padding: 0;
}

/* ご予約・お問い合わせ */
#reserve-section {
  display: flex;
  justify-content: start;
  max-width: 1280px;
  margin: 0;
  padding: 0;
}

.reserve-container {
  margin: 32px 0 80px 152px;
  width: 752px;
}

.reserve-title > h3 {
  font-size: 24px;
  font-weight: 700;
  color: #0C4324;
  margin: 0 0 13px 0;
}

.reserve-title > p {
  margin: 0 0 22px 0;
}

.reserve-title > h3 span {
  font-size: 17.78px;
  font-weight: 700;
  color: #000000;
}

.tel {
  margin: 0 0 25px 0 !important;
}

.contact-title {
  margin: 0 0 24px 0 !important;
}

.contact-text {
  font-size: 18px;
  margin: 0 0 24px 0 !important;
}

/* コンタクトフォーム */
form {
  display: flex;
  flex-direction: column;
}

form > div {
  margin: 0 0 48px 0;
}

.contact-heading {
  font-size: 16px;
  font-weight: 700;
  margin: 0 0 16px 0;
}

.contact-textbox,select,.contact-textarea {
  display: inline-block;
  width: 100%;
  height: 44px;
  padding: 0.5rem;
  border: solid 1px rgba(0, 0, 0, 0.36);
  box-sizing: border-box;
}

input:focus {
  background-color: none;
}

::placeholder {
  color: rgba(0, 0, 0, 0.36);
  font-weight: 400;
}

select {
  appearance: none;
  background-image: url(../img/contact/Arrow.png);
  background-repeat: no-repeat;
  background-position: right 19px top 14.5px;
  color: rgba(0, 0, 0, 0.36);
  cursor: pointer;
}

.contact-textarea {
  height: 140px;
}

.submit-decoration {
  align-self: center;
  width: 240px !important;
  height: 48px !important;
  background-color: #1B9240 !important;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  margin: 13px auto 15px !important;
  cursor: pointer;
}

div.wpforms-container-full
.wpforms-form
.wpforms-submit-container {
  text-align: center;
}

/* ご予約・お問い合わせサンクスページ */
#thanks-page {
  max-width: 1280px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.thanks-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px #CCCCCC;
  padding: 62px 161.5px;
  margin: 32px auto 162px;
}

.reserve-thanks > h3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  color: #0C4324;
  margin: 0 0 24px 0;
}

.reserve-thanks > p {
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
  margin: 0 0 32px 0;
}

.home-back {
  width: 240px;
  height: 48px;
  background-color: #1B9240;
  border: none;
  border-radius: 4px;
}

.home-back > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
}

/*========================
 ブレイクポイント
==========================*/
@media screen and (max-width: 1023px) { 
  /* メインビジュアル */
  /* カルーセル */
  .carousel {
    max-width: 750px;
  }
  
  .mv-img img {
    height: 70vw;
  }

  /* お知らせ  */  
  .info-container {
    flex-direction: column;
    align-items: baseline;
  }

  .date {
    margin: 0;
  }
  
  /* アクセス */
  table {
    width: 100%;
  }
}

/*=====================
 ブレイクポイント_スマホ
=======================*/
@media screen and (max-width: 767px) {
  /* PC用非表示 */
  /* ヘッダー、メイン */
  .hlogo,
  #hnav {
    display: none;
  }

  /* ヘッダー */
  /* スマホ用ロゴ・メニュー */
  .splogo {
    display: inline;
    margin: 18px 0 20px 16px;
    padding: 0;
  }

  #sp-menu {
    display: inline;
    margin: 20px 10px 20px 0;
    padding: 0;
  }

  /* スマホ用ナビ */
  #sp-nav {
    background-image: url(../img/index/SP-TOP-Carouselgroup1.png);
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
  }

  .sp-nav-menu-wrap {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
  }

  .sp-nav-logo-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #sp-logo {
    margin: 18px 0 20px 16px;
    padding: 0;
  }

  #close {
    margin: 20px 10px 20px 0;
    padding: 0;
  }

  /* ナビのメニュー */
  .sp-nav-container {
    display: flex;
    flex-direction: column;
    margin: 32px;
  }

  .sp-nav-container > h3 {
    font-size: 24px;
    font-weight: 700;
  }

  /* ナビのメニュー項目 */
  .menu {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: #0D0D0D;
    margin-bottom: 32px;
    padding: 0;
  }

  .menu-contact {
    max-width: 256px;
    max-height: 44px;
    border: none;
    border-radius: 4px;
    background-color: #0C4324;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    margin: 0;
    padding: 11px 58.77px 13px 57.23px;
  }

  /* ナビのお知らせ */
  .sp-info-wrap {
    background-color: #bfbfbf;
    padding: 16px;
    margin-top: 10px;
  }

  .sp-info-wrap > h3 {
    font-size: 24px;
    font-weight: 700;
    color: #0C4324;
    margin: 0 0 10px 0;
  }

  .sp-info-text {
    display: flex;
    justify-content: flex-start;
  }

  .sp-info-text > p {
    margin: 0;
    max-width: 180px;
  }

  .sp-info-text > p:first-child {
    margin: 0 30px 10px 0;
  }

  /* メインビジュアル */
  /* メインビジュアルのテキスト */
  .mv-text-wrap {
    top: 118.2px;
    left: 34.56px;
  }

  .mv-text-wrap > h2 {
    font-size: 22.4px;
  }

  .mv-text-wrap::before {
    top: -15%;
    left: -10%;
  }

  .mv-text-wrap::after {
    bottom: -10%;
    left: -70%;
  }

  /* メインビジュアルの画像 */
  /* SPカルーセル */
  .carousel {
    max-width: 280px;
  }

  .mv-img img {
    width: 100%;
    height: 100%;
  }

  .carousel .slick-list {
    border-top-left-radius: 150px 410px;
    border-bottom-left-radius: 350px 410px;
  }

  /* お知らせ */
  .info-container {
    margin: 16px;
  }

  .news {
    margin-bottom: 20px;
  }

  .info-wrap {
    margin-bottom: 20px;
  }

  /* 特長（コンセプト） */
  .concept-container {
    flex-direction: column;
    margin: 64px 16px 97px;
  }

  .concept-img {
    order: 1;
    margin: 0;
  }

  .concept-text-wrap {
    order: 2;
    justify-content: center;
  }

  .concept-container::before {
    font-size: 72px;
    font-weight: 400;
    top: 400px;
    left: -35px;
  }

  .concept-container::after {
    right: -200px;
  }

  .about-button {
    align-self: center;
  }

  /* コース */
  .courses-wrap {
    flex-direction: column;
  }

  .course1 {
    margin:0 auto 40px;
  }

  .course2 {
    margin: 0 auto;
  }

  .course-container::after {
    right: -220px;
  }

  /* お客様の声 */
  /* カルーセル */
  .bottom-img img {
    height: 80vw;
  }

  .customer-title > img {
    width: 270px;
  }

  .customer-title {
    margin: -58px auto 0;
  }

  .customer-title > h4 {
    margin: -35px 0 20px 0;
  }

  .customers-wrap {
    flex-direction: column;
  }

  .customers-wrap img {
    width: 45.8%;
  }

  .customers-wrap h4 {
    margin: 16px auto 24px;
  }

  .customers-wrap p {
    text-align: center;
    margin: 0;
  }

  .customer1,
  .customer2,
  .customer3 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .customer1,
  .customer2 {
    margin: 0 0 48px;
  }

  /* SPアクセス */
  .access-container {
    width: 100%;
    margin: 160px 16px 40px;
  }

  .access-container > h4 {
    font-size: 18px;
  }

  .access-container > h4::before {
    content: url(../img/Head_02_DecoLeft14.png);
  }

  .access-container > h4::after {
    content: url(../img/Head_02_DecoRight14.png);
  }

  .access-wrap {
    display: initial;
    margin: 0 16px;
  }

  #contact {
    height: auto;
  }

  .access-map {
    width: 100%;
    height: 80vw;
    margin: 0;
  }

  .access-address {
    margin: 0 0 40px;
  }

  .access-address > h4 {
    font-size: 18px;
  }

  .contact-button {
    display: block;
    text-align: center;
    font-size: 14px;
  }

  /* SPフッター */
  .f-inner {
    flex-direction: column;
  }

  #fnav {
    display: block;
    text-align: center;
    margin: 0 auto;
  }

  .fnav-list {
    text-align: center;
  }

  .fnav-item {
    display: list-item;
    margin: 0 0 16px 0;
  }

  .fnav-item > a {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    color: #0C4324;
  }

  /* 当院について */
  /* メインビジュアル */
  .a-mv-container {
    flex-direction: column-reverse;
  }

  .a-mv-text-wrap {
    width: 100%;
    margin: -20px 0 20px 20px;
  }

  .a-mv-text-wrap::before {
    top: -50%;
    left: -10%;
  }

  .a-mv-text-wrap > h2 {
    margin: 0;
    padding: 10px;
  }

  .a-mv-img-wrap {
    align-self: end;
  }

  .a-mv-img-wrap > picture > img {
    border-top-left-radius: 0;
    border-bottom-left-radius: 200px 300px;
  }

  .a-mv-img-wrap::before {
    top: -75%;
    left: -15%;
  }

  /* パンくずリスト */
  .breadcrumb {
    margin: 10px 0 14px 16px;
  }

  /* 施術の流れ */
  .flow-container {
    flex-direction: column;
    margin: 64px 16px 73px;
  }

  .flow-img-wrap {
    order: 1;
    margin: 0 0 32px 0;
  }

  .flow-img {
    margin: 0;
  }

  .flow-text-wrap {
    order: 2;
    justify-content: center;
  }

  .flow-title {
    margin: 0 0 32px 0;
  }

  .flow-text {
    padding: 20px;
  }

  .flow-container::before {
    font-size: 72px;
    font-weight: 400;
    top: 500px;
    left: -35px;
  }

  .flow-container::after {
    right: -200px;
  }

  /* 根本改善のポイント */
  .root-container {
    margin: 32px 16px;
  }

  .root-container h4 {
    margin: 0 auto 16px;
    font-size: 18px;
  }

  .root-br::before {
    content: "\A";
    white-space: pre;
  }

  .roots-wrap {
    flex-direction: column;
    margin: 16px 0 0 0;
  }

  .root2 {
    margin: 48px 0;
  }

  /* コース・料金 */
  /* コースセクション */
  .course-container2 {
    margin: 32px 16px;
  }

  .course-title-wrap {
    margin: 0 auto 40px;
  }

  .course-title-wrap h4 {
    font-size: 18px;
  }

  /* 診療内容 */
  .mt-container {
    flex-direction: column-reverse;
    justify-content: initial;
    align-items: initial;
    margin: 32px 16px 37px;
  }

  .mt-img-wrap {
    margin: 0 auto 32px;
  }

  .mt-text-wrap {
    margin: 0;
  }

  .mt-text {
    display: none;
  }

  .mt-text-wrap > ul{
    margin: 0;
  }

  .mt-br::after {
    content: "\A";
    white-space: pre;
  }

  .mt-br-sec::before {
    content: "\A";
    white-space: pre;
  }

  /* お知らせセクション */
  /* お知らせ一覧 */
  .news-info-container {
    display: initial;
  }

  .news-info-wrap {
    margin: 32px 16px;
  }

  .news-info-list {
    display: initial;
    margin: 0 auto 64px;
  }

  .news-info-img {
    margin: 0 0 16px;
  }

  .news-info-text {
    max-width: 288px;
  }

  .news-info-text > h3 {
    font-size: 18px;
  }

  .pager-links {
    margin: 0 auto;
  }

  .news-info-category {
    margin: 32px 0 32px 16px;
  }

  .news-info-category > h3 {
    font-size: 18px;
  } 

  /* お知らせ詳細セクション */
  /* お知らせ詳細 */
  .news-topic-container {
    display: initial;
  }

  .news-topic-wrap {
    margin: 32px 16px 64px;
  }

  .news-topic-text {
    margin: 0 0 32px 0;
  }

  .news-topic-text > h3 {
    font-size: 24px;
  }

  .news-topic-text-br::before {
    content: none;
  }

  .news-topic-img {
    height: initial;
    margin: 0 0 32px 0;
  }

  .article-title1,
  .article-title2,
  .article-title3 {
    margin: 0 0 32px 0;
  }

  .article-title1 > h2 {
    font-size: 24px;
    margin: 0 0 16px 0;
  }

  .article-title2 > h3 {
    font-size: 24px;
    margin: 0 0 16px 0;
  }

  .article-title3 > h4 {
    font-size: 24px;
    margin: 0 0 16px 0;
  }

  .pager {
    margin: 0;
  }

  .info-none {
    display: none;
  }

  /* お客様の声セクション */
  /* お客様の声一覧 */
  .voice-container {
    margin: 32px 16px;
  }

  .voice-wrap {
    display: initial;
    margin: 0 0 48px;
  }

  .voice-img {
    margin: 0 auto 16px;
  }

  .voice-text > h3 {
    text-align: center;
  }

  .voice-text > p > br {
    display: none;
  }

  .voice-text-br::before {
    content: "\A";
    white-space: pre;
  }

  /* ご予約・お問い合わせセクション */
  .reserve-container {
    margin: 32px 16px;
  }

  .submit-decoration {
    width: 100%;
  }

  /* サンクスページセクション */
  .thanks-container {
    padding: 0;
    margin: 32px 16px 64px;
  }

  .reserve-thanks {
    margin: 16px 16px 32px;
    text-align: center;
  }

  .home-back {
    width: 90%;
    margin: 0 16px 16px;
  }
}